<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Big Al's Record Store</title>
  
  <h1 id='Main_Header'>Big Al's Record Store</h1>

  <nav class="nav">
  <p><a href="/artists">Add & List Artists</a></p>
  <p><a href="/records/new">Add Stock to Inventory</a></p>
  <p><a href="/records">Show Full Inventory</a></p>
  </nav> 

</head>
<body>
  
</body>
</html>


