<h1>Big Al's Record Store</h1>

<nav>
<p><a href="/artists">List Artists</a></p>
<p><a href="/artists/new">Add Artist</a></p>
<p><a href="/records/new">Add Stock to Inventory</a></p>
<p><a href="/records">Show Full Inventory</a></p>
</nav>  

