<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Big Al's Record Store</title>
  <link rel="stylesheet" type="text/css" href="/styles/forms.css">
  <link rel="stylesheet" type="text/css" href="/styles/structure.css">
  <link rel="stylesheet" type="text/css" href="/styles/tables.css">
</head>
<body>
  <%= yield %>
  <div>
    <footer>
    </footer>
    <hr>
      <p> All images courtsey of Brian Cannon @ Microdot </p>
      <p><a href="http://www.microdotcreative.co.uk/"><img src="/images/footerimage.png"/></a></p> 
    <hr>
    </footer>
  </div>
</body>
</html>
