<nav>
<p><a href="/home">Homepage</a></p>
<p><a href="/artists/new">Add Artist</a></p>
<p><a href="/records/new">Add Stock to Inventory</a></p>
<p><a href="/records">Show Full Inventory</a></p>
</nav>  


<h1>Artists</h1>

<table>
<th></th>
    <th>ID</th>
    <th>Name</th>
    <th></th>
  </tr>
  <% for artist in @artists %>
  <tr>
    <td><%= artist.id %></td> 
    <td>|</td>
    <td><%= artist.name %></td>
    <td>|</td>
  </tr>
  <% end %>
</table>