<form action="/artists" method="POST">

<label for="artist-name"> Enter Artist Name: </label> 
<input type="text" id="artist-name" name="name">
<input type="submit" value="Create Artist">
  


</form>